
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class ="container">
    <h3>Iniciando simulação de sensor para detecção de vazamento de gás.</h3>
    @Html.ActionLink("Iniciar Simulação", "Simulator", "Home", new { area = "" }, new { @class = "navbar-brand" })

</div>